--extra-index-url https://shimwell.github.io/wheels
jupyter
jupyter-book
matplotlib
numpy
git+https://github.com/fispact/pypact
openmc
packaging
plotly
git+https://github.com/fusion-neutronics/plotly_periodic_table
